/*------------------------
Body
------------------------*/
#ab-body{
  margin-top: 50px;
}


/*------------------------
Progress bar
------------------------*/
.bars .progress{
    height: 4px;
    padding: 0px;
    overflow: hidden;
    background-color: #eee;
    margin-bottom: 15px;
  }

  .bars .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    background-color: #ea1e31;
    border-radius: 1px;
}

/*------------------------
SKills
------------------------*/
.skills .bars h5{
  font-family: "Muli", sans-serif;
  font-size: 14px;
  color: #111;
  letter-spacing: 1px;
  font-weight: 400;
}

.skills .bars span{
  float: right;
  font-weight: 400;
  color: #111;
}

/*------------------------
info
------------------------*/

.info p{
  font-family: 'Roboto Slab', sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
  padding-top: 10px;
  font-style: italic;
  letter-spacing: 1px;
  color: #333;
  font-size: 15px;
  max-width: 600px;
}
